.main-profile-information {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  .p_main-profile-information__buttons {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    width: 30rem;
    
    .main-profile-information__buttons {
      max-width: 20rem;
      min-width: 15rem;
      height: 1.5rem;
      border-radius: 10px;
      transition: background-color 0.3s ease, color 0.3s ease; 

      &.active {
        background-color: white;
        color: black; 
      }
    }
  }

  .content-transition {
    width: 100%;
    overflow: hidden;
  }
}


/* Animación para transición cuando se selecciona MIS REPORTES (slide-left) */
.slide-left-enter {
  transform: translateX(100%);
  opacity: 0;
}
.slide-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.slide-left-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-left-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}

/* Animación para transición cuando se selecciona INFORMACIÓN DEL PERFIL (slide-right) */
.slide-right-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.slide-right-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-right-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
