.main-profile-information {
  &__title {
    text-align: center;
    font-size: 2.4em;
    line-height:50px ;
  }

  & {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 70%;
    min-width: 330px;
  }
  .main-profile-information__button{
    padding: .5rem 2rem;
    border-radius: 12rem;
  }

  .p_main-profile-information__buttons {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    width: 80%;
    min-width: 330px;

    .main-profile-information__buttons {
      width: 80%;
      height: auto;
      padding: 8px 0;
      border-radius: 12px;
      transition: background-color 0.3s ease, color 0.3s ease; 

      &.active {
        background-color: #8f8e8edc;

      }
    }
  }

}
.content-transition {
  width: 80%;
  min-width: 330px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.transition-content {
  width: 100%;
}

.transition-content slide-left-enter-done{
  width: 100%;
}

/* Animación para transición cuando se selecciona MIS REPORTES (slide-left) */
.slide-left-enter {
  transform: translateX(100%);
  opacity: 0;
}
.slide-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.slide-left-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-left-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}

/* Animación para transición cuando se selecciona INFORMACIÓN DEL PERFIL (slide-right) */
.slide-right-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.slide-right-exit {
  transform: translateX(0);
  opacity: 1;
}
.slide-right-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
