.report-form{
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 335px;
  gap: 1.2rem;
}

.report-form__title{
  color: white;
  text-align: center;
  font-size: 2.4em;
  margin-bottom: 1.2rem;
}

.report-form__input{
  margin-top: 0.1rem;
  height: 3rem;
  padding: .9rem 1rem;
  width: 100%;
  font-size: 1em;
  border: 1px solid #252b39;
  font-family: var(--font-poppins);
  background-color: #252b39;
}

.report-form__inputFile{
  cursor: pointer;
  margin-top: 0.1rem;
  height: 3.3rem;
  padding: .9rem 1rem;
  width: 100%;
  font-size: 1em;
  border: 1px solid #252b39;
  font-family: var(--font-poppins);
  background-color: #252b39;
}

.report-form__inputFile::file-selector-button {
  margin: 0;
  display:none;
}

.report-form__button{
  width: 15rem;
  height: 3.5rem;
  border-radius: 10rem;
  font-size: 1em;
  font-weight: bold;
  font-family: var(--font-open-sans);
  color: #0f1819;
  margin: .8125rem 0 0;
  align-self: center;
}
