.search-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 335px;
  gap: 1.2rem;
}


.search-form__button{
  width: 100%;
  height: 2.7rem;
  border-radius: .75rem;
  font-size: 1em;
  font-weight: bold;
  font-family: var(--font-open-sans);
  color: #ffffff;
  align-self: center;
}