.select-field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}


.select-field__select{
  padding: 0 1rem;
  height: 3rem;
  border-radius: .75rem;
  background-color: #252b39;
  color: white;
  font-size: 1em;
  border: 1px solid #252b39;
  appearance: none; /* Oculta la flecha por defecto */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" fill="white"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center; /* Ajusta posición de la flecha */
  background-size: 25px; /* Tamaño de la flecha */
  font-family: var(--font-poppins);
  
  &:focus {
    outline: none;
    border: 1px solid white;

  }

  &:invalid{
    color: grey;
  }

  option {
    background-color: #0f1729;
  }
}

.forms__label {
  color: white;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;

}