.ContainerCalendarRange{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  @media (max-width: 940px) {
    grid-template-columns: 1fr;
  }

}

.CalendarRangeItem{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

