.login__form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .login__forgot-password {
    margin-top: 1rem;
    color: white;
  }
  .login__register {
    color: white;
  }
}
